images
test
train
.idea
model.h5
model13.h5
banane.mp4
fruits_fresh_cnn_1.h5
Fruit-Images-Dataset
Training65
Validation65
reconnaissance-objet
fruitxmltest.xml
cars.xml
hichem_fruit.xml
hichembananetest2.xml
samplefruit.xml
/Validation65/
/Training65/
